<!DOCTYPE html>
<html>
<head>
  <title>Status.Cave Entry</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body style="background: #111; color: #eee; font-family: monospace; text-align: center; padding-top: 100px;">
  <h1>Status.Cave</h1>
  <div data-netlify-identity-button></div>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => { document.location.href = "/admin/"; });
        }
      });
    }
  </script>
</body>
</html>
